@import "../../partials/mixins";

.mainh{

  display: flex;
      justify-content: center;
      flex-direction: row;

    @include mobile {
        flex-direction: column;
        // padding: 0 1rem;
    }
  
    @include tablet {
        padding: 0 1.5rem;
    }
  
    @include desktop {
        padding: 0 9.375rem;
    }

}

.tasklisth {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height:max-content;
  // margin: auto;
}

.tasksh {
    width: 42rem;
    background-color: rgb(85, 80, 80);
    color: white;
    margin-left: 0px;
    border-right: 1px solid rgb(66, 63, 63);
    min-height: calc(100vh);
    vertical-align: top;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 84px;
  
   
  
    h2 {
      font-size: 20px;
      font-weight: normal;
      margin: 0 30px 20px 0;
      font-style: italic;
      color: wheat;
    }
  
    &__listh li {
      display: flex;
      line-height: 18px;
      color: wheat;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      font-style: italic;
      
    }
  }

  p{
    font-style: italic;
    color: wheat;
  }